In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from pathlib import Path

In [23]:
# Define file locations

data_path = Path.cwd() / 'data'
reports_path = Path.cwd() / 'reports'
plotting_path = Path.cwd() / 'visualizations'

In [24]:
guitar_df = pd.read_csv('data/Guitar_Habit_Data.csv')
guitar_df.head()

            Jam guitar – Date Jam Guitar – Value
0  Entry(timestamp=2021-11-14          value=-1)
1  Entry(timestamp=2021-11-13           value=2)
2  Entry(timestamp=2021-11-12           value=0)
3  Entry(timestamp=2021-11-11           value=2)
4  Entry(timestamp=2021-11-10           value=2)

In [27]:
#simplify the column names
guitar_df.columns = ['Date','Value']
guitar_df.head()

                         Date       Value
0  Entry(timestamp=2021-11-14   value=-1)
1  Entry(timestamp=2021-11-13    value=2)
2  Entry(timestamp=2021-11-12    value=0)
3  Entry(timestamp=2021-11-11    value=2)
4  Entry(timestamp=2021-11-10    value=2)

In [31]:
#split the columns to remove leading characters - am having trouble getting this to work correctly
guitar_df['Date'].str.split('=', expand=True)
guitar_df['Value'].str.split('=', expand=True)

           0    1
0      value  -1)
1      value   2)
2      value   0)
3      value   2)
4      value   2)
...      ...  ...
1761   value  -1)
1762   value  -1)
1763   value  -1)
1764   value  -1)
1765   value  -1)

[1766 rows x 2 columns]